<!DOCTYPE html>

<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Receipt</title>
</head>


<body>
	<form action="returnHome">
		<p>Name: {{name}}</p><br/>
		<p>CNIC: {{cnic}}</p><br/>
		<p>Age: {{age}}</p><br/>

		<p>Room Number: {{room}}</p><br/>
		<p>Package: {{pack}}</p><br/>
		<p>Price: {{price}}</p><br/><br/><br/>

		<p>I am Disabled: {{disabled}}</p><br/>
		<p>I Consent to Take Part in Promotional Campaign: {{promo}}</p><br/><br/><br/>

		<p>Date: {{date}}</p><br/>
		<p>Cruise Quarter: {{quarter}}</p><br/><br/><br/>

		<p>Username: {{user}}</p><br/>

		<input type = "submit" value = "Return to Homepage"/>
	</form>
</body>


</html>