<!DOCTYPE html>

<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Sign Up</title>
</head>


<body>
	<form action="enterPassengerInformation">
	<fieldset>
		<legend>Login Information</legend>
		<label for="User-ID">Username:</label>
		<input type="text" name="name" id="User-ID" pattern = "[0-9]{9}" required> <br/>

		<label for="Password">Password:</label>
		<input type="password" name="name" id="Password" required> <br/>
	</fieldset>
	<input type = "submit" value = "Verify"/>
	</form>

			
</body>


</html>