<!DOCTYPE html>

<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Booking</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='generic3.css') }}">
</head>


<body>
	<form action="committingPassenger_Login", method="POST">
	<fieldset>
		<legend>Enter Customer Information</legend>
		<label for="Name">Name:</label>
		<input type="text" name="Name" id="Name" required> <br/>

		<label>Age: </label>
		<input type="number" name="Age" min="1" max="100"> <br/>
		<label for="CNIC">CNIC:</label>
		<input type="text" name="CNIC" id="CNIC" pattern = "[0-9]{13}" required> <br/>

		<label for="Room_ID">Room Number:</label>
		<input type="text" name="Room_ID" id="Room_ID" required> <br/>

		<div class="a">

  		<input type="checkbox" id="disability" name="disability" value="1">
  		<label for="disability"> I am disabled.</label><br>

  		<input type="checkbox" id="promo_campaign" name="promo_campaign" value="1">
  		<label for="promo_campaign"> I consent to take part in promotional campaign.</label><br><br><br>

  		</div
  		<label for="Date">Date:</label>
		<input type="text" name="Date" id="Date" pattern="202[0-9]-([0][1-9]|[1][0-2])-([0][1-9]|[1-2][0-9]|[3][0-1])" required> <br/>

		<label for="Quarter">Cruise Quarter:</label>
		<input type="text" name="Quarter" id="Quarter" pattern="[1-4]" required> <br/><br><br>

  		<label for="User-ID">Username:</label>
		<input type="text" name="User-ID" id="User-ID" pattern = "[0-9]{9}" required> <br/>

		<label for="Password">Password:</label>
		<input type="password" name="Password" id="Password" pattern="^........$" required> <br/><br/>

  		<input type="submit" value="Submit">
	</fieldset>
	</form>
</body>


</html>