<!DOCTYPE html>

<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Room Service</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='pcancellation.css') }}">
</head>


<body onload="Calculate()">
	<form action="passengerRoomService", method="POST">
	<fieldset>
		<legend>Enter Customer Information</legend>

		<label for="Room_ID">Room Number:</label>
		<input type="number" name="Room_ID" id="Room_ID" required>

  	
		<input type="hidden" name="Date" id="Date">
		<input type="hidden" name="Quarter" id="Quarter">
		<input type="hidden" id="user" name="user">
	  	<input type="submit" value="Submit">
	</fieldset>
	</form>

	<div style="height:500px;width:300px;overflow:auto;" class="b">
	<table class="center">
			<caption>Your Rooms</caption>
			<thead>
        		<tr>
					<th>Room Number</th>
					<th>Package</th>
					<th>Price</th>
        		</tr>
		    </thead>
		    <tbody>
			    {% for item in tables %}
			    <tr>
			    	<td>{{ item[0] }}</td>
			    	<td>{{ item[1] }}</td>
			    	<td>{{ item[2] }}</td>
			    </tr>
			    {% endfor %}
			</tbody>

		</table>
</div>

	<script> 
		function Calculate(){
		    var data = '{{ username }}'; 
		    document.getElementById('user').value = data;
		    var Quarter = '{{ quarter }}';
		    document.getElementById('Quarter').value = Quarter;
		    var Year = '{{ year }}';
		    document.getElementById('Date').value = Year;
		}
	</script>
</body>


</html>