body {
  background-image: url('grey.jpg');
  background-repeat: no-repeat;
  background-size: cover; 
}

h1
{
	font-family: Arial;
	/*font-family: "Marker Felt", fantasy;*/
	font-size: 30px;
	font-weight: 600;
	color: black;
}

p
{
	font-family: Arial;
	font-size: 25px;
	font-weight: 550;
	color: black;
}

legend
{
	font-family: Arial;
	font-size: 18px;
	font-weight: 550;
	color: black;
}

label
{
	font-family: Arial;
	font-size: 15px;
	font-weight: 549;
	color: black;
	width: 70px;
	display: inline-block;
}

button
{
	font-family: "Times New Roman";
	font-weight: 800;
	font-size: 25px;
	border-radius: 12px;
	transition-duration: 0.4s;
	cursor: pointer;
	box-shadow: 0 9px #999;
}

button:hover {
  background-color: #3e8e41;
}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

div.a {
  white-space: nowrap;

}

input
{
	font-family: "Times New Roman";
	font-weight: 800;
	text-align: right;
	border-radius: 12px;
	transition-duration: 0.4s;
	cursor: pointer;
}

