<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Home</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='receipt.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='navigation3.css') }}">
  <script src='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' />
  <style>
  body { margin: 0; padding: 0; }
  #map { position: absolute; top: 300px; bottom: 300px; left: 445px; right: 445px; height: 35%; width: 35%; }
  </style>
</head>
<body onload="Calculate()">
    <nav>
      <ul>
        <li><a href="#">{{ name }}</a></li>
        <li>
          <form action="crewmateSwapIntermediate", method="POST">
              <input type="hidden" id="userSwap" name="userSwap">
              <input type="hidden" id="OriginSwap" name="OriginSwap">
              <input type="hidden" id="ExpSwap" name="ExpSwap">
              <input type="hidden" id="NameSwap" name="NameSwap">
              <input type="hidden" id="DeptSwap" name="DeptSwap">
              <input type="hidden" id="StatusSwap" name="StatusSwap">
              <input type="submit" value="          Swap         ">
            </form>
        </li>
        <!--Add in the use cases here.-->
        <li><a href="returnHome">Logout</a></li>
      </ul>
    </nav>
  <section>
    <br>
    <br><br>
		<table class="center">
      <caption>My Details</caption>
      <thead>
            <tr>
          <th>User ID</th>
          <th>Name</th>
          <th>Origin</th>
          <th>Department Name</th>
          <th>Experience</th>
          <th>Status</th>
          <th></th>
            </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ username }}</td>
            <td>{{ name }}</td>
            <td>{{ origin }}</td>
            <td>{{ dept }}</td>
            <td>{{ exp }}</td>
            <td>{{ status }}</td>
          </tr>
        </tbody>
	</section>
  <script> 
    function Calculate(){
        var data = '{{ username }}';
        document.getElementById('userSwap').value = data;
        //document.getElementById('userDel').value = data;
        //document.getElementById('userUPG').value = data;
        //document.getElementById('userView').value = data;
        var name = '{{ name }}';
        document.getElementById('NameSwap').value = name;
        //document.getElementById('NameDel').value = name;
        //document.getElementById('NameUPG').value = name;
        //document.getElementById('NameView').value = name;
        var origin = '{{ origin }}';
        document.getElementById('OriginSwap').value = origin;
        //document.getElementById('OriginDel').value = origin;
        //document.getElementById('OriginUPG').value = origin;
        var dept = '{{ dept }}';
        document.getElementById('DeptSwap').value = dept;
        //document.getElementById('DeptDel').value = dept;
        //document.getElementById('DeptUPG').value = dept;
        var exp = '{{ exp }}';
        document.getElementById('ExpSwap').value = exp;
       // document.getElementById('expDel').value = exp;
        //document.getElementById('expUPG').value = exp;
        var status = '{{ status }}';
        document.getElementById('StatusSwap').value = status;
        //document.getElementById('statusDel').value = status;
        //document.getElementById('statusUPG').value = status;
    }
  </script>
  <div id="map"></div>
<script>
mapboxgl.accessToken = 'pk.eyJ1IjoibGFsYXRpbmFsYWxhdGluYSIsImEiOiJja2lleDFlbXUxeDRtMnhvNXB2ZWp6aDNhIn0.flWHP2I7X00YLCLd9Xn3WQ';
var map = new mapboxgl.Map({
container: 'map',
style: 'mapbox://styles/mapbox/streets-v11',
center: [-96, 37.8],
zoom: 3
});
 
map.addControl(
new mapboxgl.GeolocateControl({
positionOptions: { enableHighAccuracy: true }, trackUserLocation: true })
);
</script>
</body>
</html>