<!DOCTYPE html>

<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Booking</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='total.css') }}">
</head>


<body onload="Calculate()">
	<form action="committingPassenger_Login", method="POST">
	<fieldset>
		<legend>Enter Customer Information</legend>
		<label for="Name">Name:</label>
		<input type="text" name="Name" id="Name" required pattern="^[A-Za-z ]{1,20}$"> <br/>

		<label>Age: </label>
		<input type="number" name="Age" min="1" max="100" required> <br/>
		<label for="CNIC">CNIC:</label>
		<input type="text" name="CNIC" id="CNIC" pattern = "[0-9]{13}" required placeholder="6110134937937"> <br/>

		<label for="Room_ID">Room Number:</label>
		<input type="number" name="Room_ID" id="Room_ID" required> <br/>

		<div class="a">

  		<input type="checkbox" id="disability" name="disability" value="1">
  		<label for="disability"> I am disabled.</label><br>

  		<input type="checkbox" id="promo_campaign" name="promo_campaign" value="1">
  		<label for="promo_campaign"> I consent to take part in promotional campaign.</label><br><br><br>

  		</div>
		<input type="hidden" name="Date" id="Date">
		<input type="hidden" name="Quarter" id="Quarter">

  		<label for="User-ID">Username:</label>
		<input type="text" name="User-ID" id="User-ID" pattern = "[0-9]{9}" required placeholder="100000000"> <br/>

		<label for="Password">Password:</label>
		<input type="password" name="Password" id="Password" pattern="^........$" required placeholder="xxxxxxxx"> <br/><br/>

  		<input type="submit" value="Submit">
	</fieldset>
	</form>

	<div style="height:500px;width:300px;overflow:auto;" class="b">
	<table class="center">
			<caption>Available Rooms</caption>
			<thead>
        		<tr>
					<th>Room Number</th>
					<th>Package</th>
					<th>Price</th>
        		</tr>
		    </thead>
		    <tbody>
			    {% for item in tables %}
			    <tr>
			    	<td>{{ item[0] }}</td>
			    	<td>{{ item[1] }}</td>
			    	<td>{{ item[2] }}</td>
			    </tr>
			    {% endfor %}
			</tbody>

		</table>
</div>

	<script> 
		function Calculate(){
		    var Quarter = '{{ quarter }}';
		    document.getElementById('Quarter').value = Quarter;
		    var Year = '{{ year }}';
		    document.getElementById('Date').value = Year;
		}
	</script>

</body>


</html>