<!DOCTYPE html>

<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Swapping</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='offshoreswap.css') }}">
	<style>
	.container { 
	  height: 1px;
	  position: relative;
	}
	.allow {
	  margin: 0;
	  position: absolute;
	  left: 810%;
	  bottom: 10%;
	  -ms-transform: translate(-50%, -50%);
	  transform: translate(-50%, -50%);
	}
	.return {
	  margin: 0;
	  position: absolute;
	  left: 285%;
	  bottom: 10%;
	  -ms-transform: translate(-50%, -50%);
	  transform: translate(-50%, -50%);
	}
	</style>
</head>



<body onload="Calculate()">

	<table class="center">
			<caption>Swap Request</caption>
			<thead>
        		<tr>
					<th>Name</th>
					<th>Room Number</th>
					<th>Username</th>
        		</tr>
		    </thead>
		    <tbody>
			    {% for item in result %}
			    <tr>
			    	<td>{{ item[0] }}</td>
			    	<td>{{ item[1] }}</td>
			    	<td>{{ item[2] }}</td>
			    </tr>
			    {% endfor %}
			</tbody>
	</table>

	<div class="container">
	 <div class="allow">
		<form action="offshoreSwap", method="POST">
			<input type="hidden" id="user" name="user" >
			<input type="hidden" id="Second" name="Second" >
			<input type="hidden" id="Cruise" name="Cruise" >
	  		<input type="submit" value="Allow"><br>
		</form>
		</div>
	</div>
	<div class="container">
		<div class="return">
		<form action="returnOffshoreHome">
			<input type = "submit" value = "Return to Homepage"/>
		</form>
		</div>
	</div>

	<script> 
		function Calculate(){
		    var data = '{{ user }}'; 
		    document.getElementById('user').value = data;

		    console.log(document.getElementById('user').value);

		    var second = '{{ second }}'; 
		    document.getElementById('Second').value = second;

		    console.log(document.getElementById('Second').value);

		    var cruise = '{{ cruise }}'; 
		    document.getElementById('Cruise').value = cruise;

		    console.log(document.getElementById('Cruise').value);
		}
	</script>
</body>


</html>