<!DOCTYPE html>

<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Cancelling</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='offshoreswap.css') }}">
</head>


<body onload="Calculate()">
	<form action="deletingPassengerRoomInter", method="POST">
	<fieldset>
		<legend>Enter Cruise Information</legend>

  		<label for="Date">Date:</label>
		<input type="text" name="Date" id="Date" pattern="202[0-9]-([0][1-9]|[1][0-2])-([0][1-9]|[1-2][0-9]|[3][0-1])" required placeholder="2020-12-03"> <br/>

		<label for="Quarter">Cruise Quarter:</label>
		<input type="text" name="Quarter" id="Quarter" pattern="[1-4]" required placeholder="1-4"> <br/><br><br>

		<input type="hidden" id="user" name="user">
		<input type="hidden" id="CNIC" name="CNIC">
		<input type="hidden" id="Age" name="Age">
		<input type="hidden" id="Name" name="Name">
		<input type="hidden" id="disability" name="disability">
		<input type="hidden" id="promo_campaign" name="promo_campaign">
  		<input type="submit" value="Submit">
	</fieldset>
	</form>

	<script> 
		function Calculate(){
		    var data = '{{ username }}'; 
		    document.getElementById('user').value = data;

		    var cnic = '{{ CNIC }}';
		    document.getElementById('CNIC').value = cnic;
		    var name = '{{ name }}';
		    document.getElementById('Name').value = name;
		    var age = '{{ age }}';
		    document.getElementById('Age').value = age;
		    var disability = '{{ disability }}';
		    document.getElementById('disability').value = disability;
		    var promo = '{{ promo }}';
		    document.getElementById('promo_campaign').value = promo;
		}
	</script>
</body>


</html>