<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Home</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='navigation3.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='receipt.css') }}">
</head>
<body onload="Calculate()">
    <nav>
      <ul>
        <li><a href="#">{{ name }}</a></li>
        <li>
        <form action="crewmateSwapIntermediate", method="POST">
        <input type="hidden" id="userSwap" name="userSwap">
        <input type="hidden" id="OriginSwap" name="OriginSwap">
        <input type="hidden" id="ExpSwap" name="ExpSwap">
        <input type="hidden" id="NameSwap" name="NameSwap">
        <input type="hidden" id="DeptSwap" name="DeptSwap">
        <input type="hidden" id="StatusSwap" name="StatusSwap">
        <input type="submit" value="          Swap         ">
        </form>
        </li>
        <li><a href="#">Portal</a>
            <ul>
              <div class="eight">
              <li><form action="complaintInterAdmin", method="POST">
              <input type="hidden" id="userComp" name="userComp">
              <input type="hidden" id="DeptComp" name="DeptComp">
              <input type="submit" value="        Complaints           ">
              </form></li>
              </div>
            </ul>
            <li><a href="#">Inventory Management</a>
            <ul>
              <div class="eight">
              <li><form action="insertInventoryInter", method="POST">
              <input type="hidden" id="userBook" name="userBook">
              <input type="hidden" id="DeptBook" name="DeptBook">
              <input type="submit" value="         Insert           ">
              </form></li>
              <li><form action="deleteInventoryInter", method="POST">
              <input type="hidden" id="userDel" name="userDel">
              <input type="hidden" id="DeptDel" name="DeptDel">
              <input type="submit" value="         Delete           ">
              </form></li>
              <li><form action="updateInventoryInter", method="POST">
              <input type="hidden" id="userUPG" name="userUPG">
              <input type="hidden" id="DeptUPG" name="DeptUPG">
              <input type="submit" value="         Update           ">
              </form></li>
              </div>
            </ul>
        <li><a href="#">Freight Management</a>
            <ul>
              <div class="eight">
              <li><form action="insertFreightInter", method="POST">
              <input type="hidden" id="userFBook" name="userFBook">
              <input type="hidden" id="DeptFBook" name="DeptFBook">
              <input type="submit" value="         Insert           ">
              </form></li>
              <li><form action="deleteFreightInter", method="POST">
              <input type="hidden" id="userFDel" name="userFDel">
              <input type="hidden" id="DeptFDel" name="DeptFDel">
              <input type="submit" value="         Delete           ">
              </form></li>
              <li><form action="updateFreightInter", method="POST">
              <input type="hidden" id="userFUPG" name="userFUPG">
              <input type="hidden" id="DeptFUPG" name="DeptFUPG">
              <input type="submit" value="         Update           ">
              </form></li>
              </div>
            </ul>
        <li><a href="returnHome">Logout</a></li>
      </ul>
    </nav>
  <section>
    <br>
    <br><br>
		<table class="center">
      <caption>My Details</caption>
      <thead>
            <tr>
          <th>User ID</th>
          <th>Name</th>
          <th>Rank</th>
          <th>Origin</th>
          <th>Designation</th>
          <th>Experience</th>
          <th>Status</th>
          <th></th>
            </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ username }}</td>
            <td>{{ name }}</td>
            <td>{{ rank }}</td>
            <td>{{ origin }}</td>
            <td>{{ dept }}</td>
            <td>{{ exp }}</td>
            <td>{{ status }}</td>
          </tr>
        </tbody>
	</section>
  <script> 
    function Calculate(){
        var data = '{{ username }}';
        document.getElementById('userSwap').value = data;
        document.getElementById('userBook').value = data;
        document.getElementById('userFBook').value = data;
        document.getElementById('userDel').value = data;
        document.getElementById('userUPG').value = data;
        document.getElementById('userFDel').value = data;
        document.getElementById('userFUPG').value = data;
        var name = '{{ name }}';
        document.getElementById('NameSwap').value = name;

        var origin = '{{ origin }}';
        document.getElementById('OriginSwap').value = origin;

        var dept = '{{ dept }}';
        document.getElementById('DeptSwap').value = dept;
        document.getElementById('DeptBook').value = dept;
        document.getElementById('DeptFBook').value = dept;
        document.getElementById('DeptDel').value = dept;
        document.getElementById('DeptUPG').value = dept;
        document.getElementById('DeptFDel').value = dept;
        document.getElementById('DeptFUPG').value = dept;
        var exp = '{{ exp }}';
        document.getElementById('ExpSwap').value = exp;

        var status = '{{ status }}';
        document.getElementById('StatusSwap').value = status;
    }
  </script>
</body>
</html>