<!DOCTYPE html>

<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Schedule</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='offshoreswap.css') }}">
</head>


<body onload="Calculate()">
	<form action="scheduleFacility", method="POST">
	<fieldset>
		<legend>Enter Facility Information</legend>
		<label for="Name">Name:</label>
		<input type="text" name="Name" id="Name" required pattern="^[A-Za-z ]{1,15}$"> <br/>

		<label for="Day">Day:</label>
		<input type="text" name="Day" id="Day" pattern="^Monday$|^Tuesday$|^Wednesday$|^Thursday$|^Friday$|^Saturday$|^Sunday$" required><br>

		<label for="Date">Date:</label>
		<input type="text" name="Date" id="Date" pattern="202[0-9]-([0][1-9]|[1][0-2])-([0][1-9]|[1-2][0-9]|[3][0-1])" required placeholder="2020-12-03"> <br/>

		<label for="Quarter">Cruise Quarter:</label>
		<input type="text" name="Quarter" id="Quarter" pattern="[1-4]" required placeholder="1-4"> <br/><br><br>
		<input type="hidden" id="user" name="user">

  		<input type="submit" value="Submit">
	</fieldset>
	</form>

	<div style="height:500px;width:300px;overflow:auto;" class="b">
  <table class="center">
      <caption>Facilities</caption>
      <thead>
            <tr>
          <th>Name</th>
            </tr>
        </thead>
        <tbody>
          {% for item in tables %}
          <tr>
            <td>{{ item }}</td>
          </tr>
          {% endfor %}
      </tbody>

    </table>
</div>

<script> 
    function Calculate(){
        var user = '{{ username }}'; 
        document.getElementById('user').value = user;
    }
  </script>
</body>


</html>