<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Home</title>
	<link rel="stylesheet" type="text/css">
</head>

<body>
	<h1>Passenger Home Page</h1>

<form action="verifiedLogin", method="POST">
	<input id="Book" name="Book" type = "submit" value="Make A Booking" /><br>
</form>

<form action="signUpForm">
	<input id="Delete" name="Delete" type = "submit" value="Cancel A Booking" /><br>
</form>

<form action="signUpForm">
	<input id="Update" name="Update" type = "submit" value="Update or Swap Rooms" /><br>
</form>
	
	<!--<p><a class="btn btn-lg btn-success" href="showSignUp" role="button">Sign up today</a></p>-->

</body>

</html>

